* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 1.75em;
}

h2 {
    background-color: lightgreen;
    width: 7em;
    height: 1.4em;
    text-align: center;
    margin-top: 0px;
    line-height: 1.4em;
    border: solid 1px black;
    position: relative;
    float: right;
    font-size: 1.25em;
}

#beef {
    color: white;
    background-color: rgba(230, 0, 0, 0.7);
}

#sushi {
    background-color: lightseagreen;
}

.section {
    background-color: lightgray;
    border: solid 1px black;
    padding: 0.2em 1em;
    padding-top: 0px;
    padding-right: 0px;
    margin: 0px auto;
}

p {
    clear: right;
    width: 97.3%;
    text-align: justify;
}

.column {
    margin: 0px;
    padding: 0px 1em;
    float: left;
    margin-bottom: 1em;
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}
